#app-css-inject {
  $red: #bd2130;
  $avatar-size: 150px;
  $avatar-small-size: 80px;
  
  .form-error {
    color: $red;
    font-size: 14px;
    margin-top: 5px;
  }

  .sweet-alert {
    button {
      &.confirm {
        background-color: $red !important;
      }
    }
  }

  .sortorder {
    &:after {
      content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    }
    &.reverse {
      &:after {
        content: '\25bc'; 
      }
    }
  }

  .avatar {
    height: $avatar-size;
    width: $avatar-size;
    background-color: #dddddd;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.small {
      height: $avatar-small-size;
      width: $avatar-small-size;
    }

    &.selected {
      background-color: transparent;
      img {
        opacity: 1;
      }
    }

    img {
      height: 85%;
      margin-top: 10px;
      width: 100%;
      opacity: 0.1;
    }

    .select {
      margin-top: -40px;
      text-align: center;
      color: #007bff;
      font-size: 30px;
      position: absolute;
      margin-left: 60px;
    }
  }

  td {
    vertical-align: middle;
  }
  
  th {
    &.image {
      width: $avatar-small-size;
    }
  }

  li {
    .title {
      float: left;
      align-items: center;
      padding: .375rem .75rem;
      margin-bottom: 0;
      font-weight: 600;
      line-height: 1.5;
      color: #495057;
      text-align: center;
      white-space: nowrap;
      background-color: #e9ecef;
    }

    .text {
      padding: .375rem 1rem;
      float: left;
    }
  }
}
