<div id="contact-css-inject">
  <h4 class="mt-4">Create New Contact</h4>

  <form name="form" novalidate>
    <div class="row mt-4">
      <div class="col-2">
        <div class="avatar" ng-class="{selected: vm.contact.image}">
          <img ng-if="!vm.contact.image.mime" ngf-src="vm.contact.image">
          <img ng-if="vm.contact.image.mime" data-ng-src="data:{{vm.contact.image.mime}};base64,{{vm.contact.image.data}}"/>
        </div>
        <div class="select btn btn-primary" ngf-select="vm.onFileSelect($files)" ng-model="vm.contact.image" name="file" ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
          ngf-resize="{width: 100, height: 100}">
            Change Image
            <i data-placement="bottom" data-toggle="tooltip" title="Change Image" class="fas fa-camera"></i>
        </div>
      </div>
      
      <div class="col-10">
        <div class="form-group">
          <label>Name*</label>
          <input type="text" name="name" ng-model="vm.contact.name" class="form-control" placeholder="Name" required>
          <div class="form-error" ng-show="form.$submitted || form.name.$touched">
            <div ng-show="form.name.$error.required">This field is required.</div>
          </div>
        </div>
    
        <div class="form-group">
          <label>Nickname</label>
          <input type="text" name="nickname" ng-model="vm.contact.nickname" class="form-control" placeholder="Name">
        </div>
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col-12">
        <h5 class="mt-4">Contact Methods</h5>
        <p ng-if="!vm.methodsAreValid && vm.submitted" class="form-error">Invalid contact methods. All fields must be completed.</p>
        <div class="form-row" ng-repeat="method in vm.methods">
          <div class="form-group col-md-4">
            <select 
              id="inputState" 
              ng-model="method.type" 
              ng-options="option.name for option in vm.methodsOptions track by option.id" 
              ng-change="vm.methodsValid(method)" 
              class="form-control" 
              plpaceholder="Select"
              required>
              <option value="">Choose...</option>
            </select>
          </div>
          <div class="form-group col-md-8">
            <div class="input-group">
              <div ng-if="method.type" class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend"><i class="{{method.type.icon}}"></i></span>
              </div>
              <input type="text" ng-model="method.value" ng-change="vm.methodsValid()" class="form-control" id="validationCustomUsername" placeholder="{{method.type.name}}" aria-describedby="inputGroupPrepend" required>
              <button type="button" ng-click="vm.removeMethod($index)" class="btn btn-danger delete-input" data-toggle="tooltip" data-placement="bottom" title="Remove this method"><i class="fas fa-times"></i></button>
            </div>
          </div>
        </div>
        <button type="button" ng-click="vm.addMethod()" class="btn btn-primary">+ Add Method</button>
      </div>
    </div>
    <hr class="mt-4"/>
    <div class="float-right mb-4">
      <a ng-href="#!contacts" class="btn btn-secondary">Cancel</a>
      <button type="submit" ng-click="vm.save()" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>