<div id="contact-view-css-inject">
  <nav class="mt-4 navbar p-0">
    <h4>Contact View</h4>
    <a ng-href="#!contact/{{vm.contact.id}}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Edit this contact">Edit Contact</a>
  </nav>
  
  <div class="row mt-4">
    <div class="col-2">
      <div class="avatar">
        <img ngf-src="vm.contact.image">
      </div>
    </div>
    
    <div class="col-10">
      <ul class="list-group">
        <li class="list-group-item p-0">
          <div class="title">Name</div> 
          <div class="text">{{vm.contact.name}}</div>
        </li>
        <li ng-if="vm.contact.nickname" class="list-group-item p-0">
          <div class="title">Nickname</div> 
          <div class="text">{{vm.contact.nickname}}</div>
        </li>
        <li ng-repeat="method in vm.contact.methods" class="list-group-item p-0">
          <div class="title"><i class="{{method.type.icon}}"></i> {{method.type.name}}</div>
          <div class="text">{{method.value}}</div>
        </li>
      </ul>
    </div>
  </div>
  <hr class="mt-4"/>
  <div class="float-right">
    <a ng-href="#!contacts" class="btn btn-secondary">Go Back</a>
  </div>
</div>