<div id="people-css-inject">

	<nav class="mt-4 navbar p-0">
		<form class="form-inline">
			<input ng-model="vm.searchText" data-toggle="tooltip" data-placement="bottom" title="Search through your contact"  class="form-control mr-sm-2" type="text" placeholder="Search">
		</form>
		<a ng-href="#!contact"
			class="btn btn-primary float-right">
			<i class="fas fa-plus"></i> Add Contact
		</a>
	</nav>

	<table class="mt-4 table table-hover" *ngIf="!vm.loading">
		<thead>
			<tr>
				<th class="image"></th>
				<th scope="col">
					<span class="cursor" ng-click="vm.sortBy('name')">Name
						<span class="sortorder" ng-show="vm.sorting.propertyName === 'name'" ng-class="{reverse: vm.sorting.reverse}"></span>
					</span>
				</th>
				<th scope="col" class="text-right">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="vm.contacts.length == 0 && !vm.searchText">
				<td colspan="3">You don't have contacts registered :(</td>
			</tr>
			<tr ng-if="vm.contacts.length > 0" ng-repeat="contact in filteredContacts = (vm.contacts | orderBy:vm.sorting.propertyName:vm.sorting.reverse | filter:vm.searchText)">
				<td>
					<div class="avatar small" ng-class="{'selected': contact.image}">
						<img ngf-src="contact.image">
					</div>
				</td>
				<td>{{contact.name}}</td>
				<td class="text-right">
					<a ng-href="#!/contact/view/{{contact._id}}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="View this contact"><i class="fas fa-eye"></i></a>
					<a ng-href="#!contact/{{contact._id}}" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Edit this contact"><i class="fas fa-user-edit"></i></a>
					<button ng-click="vm.removeContact(contact._id)" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Remove this contact"><i class="fas fa-times"></i></button>
				</td>
			</tr>
			<tr ng-if="filteredContacts.length === 0 && vm.searchText">
				<td colspan="3">No results found for the search term "<b>{{vm.searchText}}</b>" :(</td>
			</tr>
		</tbody>
	</table>
</div>