<div id="people-css-inject">

	<div class="mt-4">
		<h4 class="float-left">My Contact's List</h4>
		
		<a ng-href="#!contact"
			class="btn btn-primary float-right">
			<i class="fas fa-plus"></i> Add Contact
		</a>
	</div>
	<div class="clearfix"></div>

	<table class="mt-4 table table-hover" *ngIf="vm.contacts">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col" class="text-right">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contact in vm.contacts">
				<td>{{contact.name}}</td>
				<td class="text-right">
					<a ng-href="#!/contact/view/{{contact.id}}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="View this contact"><i class="fas fa-eye"></i></a>
					<a ng-href="#!contact/{{contact.id}}" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Edit this contact"><i class="fas fa-user-edit"></i></a>
					<button ng-click="vm.removeContact(contact.id)" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Remove this contact"><i class="fas fa-times"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>